.JFXButton and:hover {
    -fx-background-color: #42c923;
    -fx-scale-y: 1.1;
}
.JFXButton:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.button:hover {
    -fx-background-color: #42c923;
    -fx-scale-y: 1.1;
}
.JFXButton{
    -fx-background-color: #dd16ff;

}